body {
  background-color: #8ecae6;
}

#title{
  color: #2f3e46;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
  font-size: 60px;
}

#text-area-label{
  font-weight: 650;
  font-size: 35px;
}

.preview {
  padding: 15px;
}

.form-control:active{
  background-color: white;
}

.form-control, .preview{
  background-color: #f1faee;
  min-height: 75vh;
  box-shadow: 5px 5px  #a4a9ad;

}

img:active{
  transform: scale(8);
  /* height: 100%; */
}

.literal-block{
  background-color: rgb(58, 57, 57);
  color: white;
  padding: 10px;
  margin: 20px;
  border-radius: 8px;
}